// Light theme
$bg-color-light: #9FB4DF;
$div-color-light: #E4F6F6;
$font-color-light: #3D2163;
$accent-color-light: #329586;

// Dark theme
$bg-color-dark: #1B0B22;
$div-color-dark: #241132;
$font-color-dark: #B3D4E6;
$accent-color-dark: #668FCC;

$default-font: Arial, Helvetica, sans-serif;
$default-border-radius: 20px;
$default-padding: 10px;
$default-bgcolor-transition: background-color 0.5s ease;
$default-fontcolor-transition: color 0.5s ease;