@import '../../Variables.module.scss';

.navmenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    transition: $default-bgcolor-transition;
    padding: $default-padding;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &.light {
        background-color: $accent-color-light;
    }

    &.dark {
        background-color: $accent-color-dark;
    }
}

.logout {
    margin-top: auto;
}

.nav-item {
    display: flex;
    flex-direction: row;
    gap: $default-padding;
    padding: $default-padding;
    height: 50px;
    align-items: center;
    //background-color: green;
    box-sizing: border-box;

    &:hover > .icon, &:hover > .text {
        &.light {
            color: $font-color-light
        }
    
        &.dark {
            color: $font-color-dark;
        }
    }

    .icon {
        width: 20px;
        height: 20px;
        transition: $default-fontcolor-transition;
    
        &.light {
            color: $div-color-light;
        }
    
        &.dark {
            color: $div-color-dark;
        }
    }
}

a {
    text-decoration: none;
}

.text {
    font-weight: bold;
    text-decoration: none;
    transition: $default-fontcolor-transition;

    &.light {
        color: $div-color-light;
    }

    &.dark {
        color: $div-color-dark;
    }
}

.nav-menu-user-display {
    display: flex;
    flex-direction: row;
    gap: $default-padding;
    align-items: center;
}

.user-icon, .user-img, .gear-overlay {
    border-radius: 50%;
}

.user-icon, .user-img {
    width: 50px;
    height: 50px;
}

.user-img, .gear-overlay {
    position: absolute;
}

.user-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-img {
    background-color: black;
    top: 0;
    left: 0;
}

.gear-overlay {
    width: 60%;
    height: 60%;
    opacity: 0%;
    transition: opacity 0.5s ease;

    &.light {
        color: $accent-color-light;
    }

    &.dark {
        color: $accent-color-dark;
    }

    &:hover {
        opacity: 100%;
    }
}

.greeting {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.greeting-word, .user-name {
    transition: $default-fontcolor-transition;

    &.light {
        color: $div-color-light;
    }

    &.dark {
        color: $div-color-dark;
    }
}

@media screen and (max-width: 500px) {
    .navmenu {
        width: 100%;
        height: 70px;
        flex-direction: row;
    } 

    nav {
        display: flex;
        flex-direction: row;
    }

    .logout {
        margin-left: auto;
    }

    .text {
        display: none;
    }

    .greeting {
        display: none;
    }
}

@media screen and (max-width: 370px) {
    // TODO: Add logic to this later, as screen is cut off for narrow screens such as Galaxy Fold.
}